APP_IMAGE=

HTTP_PORT=
APP_PORT=
POSTGRES_PORT=
OBSERVABILITY_BIND_ADDR=
GRAFANA_PORT=
PROMETHEUS_PORT=
ALERTMANAGER_PORT=
LOKI_PORT=
PROMETHEUS_RETENTION_TIME=
DOCKER_LOG_MAX_SIZE=
DOCKER_LOG_MAX_FILE=
BACKUP_RETENTION_DAYS=
BACKUP_SYNC_DIR=
SMOKE_TEST_ATTEMPTS=
SMOKE_TEST_SLEEP_SECONDS=

POSTGRES_USER=
POSTGRES_PASSWORD=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
