APP_IMAGE=
DEPLOY_ENV=
CONTAINER_NAME_PREFIX=
SPRING_PROFILES_ACTIVE=

HTTP_PORT=
APP_PORT=
POSTGRES_PORT=
OBSERVABILITY_BIND_ADDR=
GRAFANA_PORT=
PROMETHEUS_PORT=
ALERTMANAGER_PORT=
LOKI_PORT=
PROMETHEUS_RETENTION_TIME=
DOCKER_LOG_MAX_SIZE=
DOCKER_LOG_MAX_FILE=
BACKUP_RETENTION_DAYS=
BACKUP_SYNC_DIR=
BACKUP_REMOTE_ENABLED=
BACKUP_REMOTE_HOST=
BACKUP_REMOTE_USER=
BACKUP_REMOTE_PORT=
BACKUP_REMOTE_DIR=
BACKUP_REMOTE_SSH_KEY=
BACKUP_REMOTE_STRICT_HOST_KEY_CHECKING=
BACKUP_REMOTE_RSYNC_DELETE=
FILE_BACKUP_SOURCE_DIR=
SMOKE_TEST_ATTEMPTS=
SMOKE_TEST_SLEEP_SECONDS=

POSTGRES_USER=
POSTGRES_PASSWORD=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

ALERT_LOCAL_WEBHOOK_URL=
ALERT_DISCORD_WEBHOOK_URL=
ALERT_SLACK_WEBHOOK_URL=
ALERT_SLACK_CHANNEL=
