.DS_Store
.idea/
.vscode/

*.log
logs/
.env
.deploy-state/
backups/
infra/onprem/vault.yml
infra/onprem/*.vault.yml

.gradle/
build/
app/.gradle/
app/build/

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

node_modules/
